body{
    margin: 0;
    padding:0;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color:whitesmoke;
    background-image: url("bg1.jpg");
}
html{
    scroll-behavior: smooth;
}
.scroll-tracker{
    position: fixed;
    inset:0 0 auto;
    height:0.2rem;
    background-color: azure;
    display: none;
}
.info{
    width:100%;
    height:560px;
}
.header{
    height:90px;
    display:flex;
}
.header div{
    height: 75px;
    width:150px;
    text-align: center;
    padding:25px;
    font-size: 28px;
}
.header div a{
    color: whitesmoke;
    text-decoration: none;
}
#welcome{
    height:350px;
    width:530px;
    border-right: 3px solid whitesmoke;
    border-radius: 7px;
    float: left;
    font-size:25px;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 100px;
}
#welcome b{
    font-size:70px;
}
.khushi{
    height:300px;
    width:590px;
    font-size:80px;
    text-align: end;
    float:right;
    padding-right: 100px;
    padding-top: 150px;
    color:rgba(248, 245, 245,0.4);
}
.about_main{
    width:100%;
    height:550px;
}
.about{
    height:80px;
    font-size:80px;
    text-align: center;
}
.container{
    height:415px;
    padding-top:40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}
.container .col{
    height:380px;
    width:500px;
    margin-left: 90px;
    font-size: 35px;
}
.desc{
    height:320px;
    width:390px;
    position:absolute;
    top: 900px;
    color:rgba(0, 0, 0, 0);
    font-size: 28px;
    font-weight: bold;
    padding-top:40px;
    padding-left: 10px;
    padding-bottom: 20px;
    display:flex;
    align-items: end;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.desc:hover{
    height:180px;
    width:390px;
    top: 800px;
    padding-top:40px;
    padding-left: 10px;
    padding-bottom: 20px;
    color:black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(141, 139, 139, 0.7));
}
.projects{
    width:100%;
    height:550px;
}
.project{
    height:80px;
    font-size:80px;
    text-align: center;
}
.container .column{
    border:2px solid white;
    height:250px;
    width:350px;
    margin-left: 170px;
    border-radius: 50px;
    font-size: 50px;
    text-align: center;
    padding-top:100px;
}
.btn_visit{
    height:50px;
    width:150px;
    border-radius: 20px;
    background-color: rgba(13, 13, 13,0);
    color:whitesmoke;
    font-size: 16px;
    font-weight: bold;
    border:2px solid white;
}
.btn_visit:hover{
    background-color: white;
    color:black;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}
.message_main{
    width:100%;
    height:550px;
}
.message{
    height:350px;
    width:700px;
    float: left;
    text-align:center;
    font-size: 70px;
    padding-top:200px;
}
.form{
    height:300px;
    width:550px;
    float: left;
    padding-top:50px;
    padding-left:50px;
}
.form input{
    height:40px;
    width:400px;
    margin-top:50px;
    text-indent: 10px;
    color:white;
    border:2px solid white;
    background-color: transparent;
    border-radius:50px;
}
.form textarea{
    height:80px;
    width:400px;
    margin-top:50px;
    text-indent: 10px;
    color:white;
    border:2px solid white;
    background-color: transparent;
    border-radius:20px;
}
#send{
    height:50px;
    width:150px;
    border-radius: 20px;
    background-color: rgba(7, 6, 6, 0);
    color:whitesmoke;
    text-indent:0;
    font-size: 16px;
    border:2px solid white;
    position: absolute;
    left:270px;
    font-size:23px;
}
#send:hover{
    background-color: white;
    color:black;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}
.contact{
    width:350px;
    height:250px;
    float:left;
    padding-left:200px;
}
.contact p{
    font-size: 80px;
}
#contacts{
    float:left;
    margin-top: 30px;
    margin-left:200px;
}
